<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>高雄防災通 - 提供即時停電、停水、淹水資訊</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="高雄防災通 - 提供即時停電、停水、淹水資訊" />
  <meta property="og:description" content="此平台為高雄前端社群、MOPCON 與高雄市政府資訊中心共同協作平台，提供民眾查詢高雄防災資訊" />
  <meta property="og:image" content="https://wcc723.github.io/KStyphon/images/og_big.png" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="zh_TW" />
  <meta property="og:url" content="https://wcc723.github.io/KStyphon/" />
  <link rel="icon" href="images/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/all.css">
  <script src="javascripts/vendor.js"></script>
  <script src="javascripts/all.js"></script>
</head>
<body ng-controller="appCtrl as app">
  <nav class="navbar navbar-light bg-faded header">
    <a class="navbar-brand" href="/">高雄防災通-提供即時停電、停水、淹水資訊</a>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item active">
        <a class="nav-link hidden-xs-down" target="_blank" href="http://data.kcg.gov.tw/dataset/open1999">資料出處：data.kcg.gov.tw</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" ng-class="{'active': app.kind=='area'}" ng-click="app.kind='area'" data-toggle="tab" href="#home" role="tab">災害查詢</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-class="{'active': app.kind=='park'}"  ng-click="app.kind='park'" data-toggle="tab" href="#park" role="tab">緊急臨時停車場</a>
          </li>

        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div ng-show="app.kind=='area'" class="tab-pane active"  role="tabpanel">
            <div class="m-t-2" >
              <div class="m-b-3 row">
                <div class="col-sm-4">
                  <label for="sort">災害類型</label>
                  <select id="sort" class="form-control" name=""  ng-model="app.typeNow"
                     ng-init="app.typeNow = app.type[0]"
                     ng-options="v for v  in app.type">
                  </select>
                </div>
                <div class="col-sm-4">
                  <label for="sort">地區</label>
                  <select id="sort" class="form-control" name=""
                    ng-options="item.name for item in app.zipNames"
                    ng-model="app.zipname">
                    <option value="">-- 全地區 --</option>
                  </select>
                </div>
              </div>

              <div class="alert alert-success text-xs-center" ng-if="!app.items.length">
                「您目前搜尋地區無任何災害」
              </div>

              <div class="card-columns">
                <div class="card" ng-repeat="(key, item) in app.items = (app.data | filter: app.zipname.name | filter:app.typeNow)">
                  <div class="card-block">
                    <div class="text-muted">
                       <i class="fa"  aria-hidden="true" ng-class="{'fa-plug': item.InformDesc_=='停電', 'fa-tint':  item.InformDesc_=='暴雨積水(一)'||item.InformDesc_=='暴雨積水(二)'||item.InformDesc_=='停水'}"></i>
                      <span ng-bind="item.ZipName_" class="tag tag-primary"></span>
                      <span ng-bind="item.address_"></span>
                    </div>
                    <p class="card-text"><span ng-bind="item.BeforeDesc_"></span></p>
                    <div class="card-text">
                      <small class="text-muted" ng-bind="'通報日期：' + item.Save_Date_">
                      </small>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="park"  ng-show="app.kind=='park'"  >
          <div class="m-t-2"></div>
            <select id="sort" class="form-control" name=""
               ng-options="item.name for item in app.zipNames"
              ng-model="app.zipnamePark">
              <option value="">--選擇停車區域--</option>
            </select>
            <div class="m-t-2"></div>
            <div class="card-columns">
              <div class="card" ng-repeat="(key, item) in app.park | filter: app.zipnamePark.name">
                <div class="card-block">
                  <div class="text-muted">
                    <span ng-bind="item.area" class="tag tag-primary"></span>
                    <span ng-bind="item.name"></span>
                  </div>
                  <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i>地址：<span ng-bind="item.area"></span><span ng-bind="item.location"></span><br>
                    <i class="fa fa-car" aria-hidden="true"></i>車位：<span ng-bind="item.number"></span>
                  </p>

                <div class="card-text text-xs-right">
                  <a  href="{{'tel:07'+item.tel}}" class="btn btn-outline-primary btn-sm">
                    <span class="fa fa-phone"></span>
                    電話聯絡
                  </a>
                  <a target="_blank" href="{{'https://www.google.com.tw/maps/place/高雄市'+item.area+item.location}}" class="btn btn-outline-primary btn-sm">
                    <span class="fa fa-map-o"></span>
                    連到地圖
                  </a>
                  </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84087328-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
